# Analysing HR Data

Below code will import data from csv file and put it on to a DataFrame **df

In [5]:
import pandas as p
file = r'C:\Users\nvishwakarma\Documents\Python Scripts\HRAnalysis/HRData.csv'
df = p.read_csv(file)
df[-10:]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14989,0.43,0.57,2,159,3,1,1,0,technical,low
14990,0.89,0.88,5,228,5,1,1,0,support,low
14991,0.09,0.81,6,257,4,0,1,0,support,low
14992,0.40,0.48,2,155,3,0,1,0,support,low
14993,0.76,0.83,6,293,6,0,1,0,support,low
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

Viewing #of rows in the DataFrame

In [84]:
df.shape

(14999, 10)

    ## Based on the department what are the mean of satisfaction_level

In [37]:
df.groupby('sales').mean().sort_values('left', ascending=False)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
sales,,,,,,,,
hr,0.598809,0.708850,3.654939,198.684709,3.355886,0.120433,0.290934,0.020298
accounting,0.582151,0.717718,3.825293,201.162973,3.522816,0.125163,0.265971,0.018253
technical,0.607897,0.721099,3.877941,202.497426,3.411397,0.140074,0.256250,0.010294
support,0.618300,0.723109,3.803948,200.758188,3.393001,0.154778,0.248991,0.008973
sales,0.614447,0.709717,3.776329,200.911353,3.534058,0.141787,0.244928,0.024155
marketing,0.618601,0.715886,3.687646,199.385781,3.569930,0.160839,0.236597,0.050117
IT,0.618142,0.716830,3.816626,202.215974,3.468623,0.133659,0.222494,0.002445
product_mng,0.619634,0.714756,3.807095,199.965632,3.475610,0.146341,0.219512,0.000000
RandD,0.619822,0.712122,3.853875,200.800508,3.367217,0.170267,0.153748,0.034307
management,0.621349,0.724000,3.860317,201.249206,4.303175,0.163492,0.144444,0.109524

 Separating data where employees have left vs still working

In [ ]:
df_StillWorking = df[df['left']!=1]
df_StillWorking[-5:]

In [40]:
 df_StillWorking.shape

(11428, 10)

In [19]:
df_left = df[df['left']==1]
df_left[-5:]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [41]:
df_left.shape

(3571, 10)

Highest and Lowest satisfaction among still working employees by Department

In [51]:
df_grp_sales = df_StillWorking.groupby('sales')
df_grp_sales[['satisfaction_level']].mean().sort_values('satisfaction_level', ascending=False)

             satisfaction_level
sales
IT                     0.677170
support                0.673799
marketing              0.669878
sales                  0.668548
technical              0.668319
hr                     0.666679
product_mng            0.658466
management             0.654861
RandD                  0.653799
accounting             0.647211

In [53]:
df_left.groupby('sales')[['satisfaction_level']].mean().sort_values('satisfaction_level', ascending=True)#.size()

             satisfaction_level
sales
accounting             0.402598
IT                     0.411868
management             0.422857
technical              0.432525
RandD                  0.432810
hr                     0.433395
sales                  0.447663
support                0.450901
marketing              0.453153
product_mng            0.481566

In [58]:
df_StillWorking_grp_sales_salary = df_StillWorking.groupby(['sales', 'salary'])
df_StillWorking_grp_sales_salary.mean().sort_values('satisfaction_level', ascending=False)['satisfaction_level'].to_frame()

                    satisfaction_level
sales       salary
hr          high              0.735897
IT          low               0.681648
management  low               0.680496
IT          medium            0.679224
support     medium            0.676084
marketing   low               0.675833
            medium            0.674123
support     low               0.673435
technical   medium            0.672181
sales       low               0.669365
            medium            0.669244
technical   low               0.668833
hr          medium            0.663678
RandD       medium            0.663387
support     high              0.662406
product_mng low               0.661908
sales       high              0.660039
hr          low               0.658560
product_mng medium            0.657905
accounting  medium            0.655064
management  high              0.654375
RandD       low               0.651294
technical   high              0.646705
accounting  low               0.643282
product_mng high              0.641935
IT          high              0.641013
management  medium            0.639433
accounting  high              0.635217
marketing   high              0.628310
RandD       high              0.607021

In [63]:
df_left[(df_left['sales']=='accounting')]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
30,0.09,0.62,6,294,4,0,1,0,accounting,low
79,0.39,0.56,2,142,3,0,1,0,accounting,low
105,0.24,0.46,7,224,5,0,1,0,accounting,medium
106,0.91,1.00,4,257,5,0,1,0,accounting,medium
107,0.44,0.50,2,148,3,0,1,0,accounting,medium
155,0.11,0.80,6,304,4,0,1,0,accounting,low
181,0.10,0.84,6,261,4,0,1,0,accounting,medium
182,0.89,0.99,5,257,5,0,1,0,accounting,medium
183,0.11,0.80,6,285,4,0,1,0,accounting,medium
224,0.40,0.56,2,149,3,0,1,0,accounting,low
225,0.90,0.97,4,258,5,0,1,0,accounting,low
232,0.11,0.83,6,244,4,0,1,0,accounting,low
258,0.88,0.88,5,232,5,1,1,0,accounting,medium
259,0.11,0.84,6,287,4,0,1,0,accounting,medium
260,0.46,0.46,2,154,3,0,1,0,accounting,medium
308,0.41,0.48,2,145,3,0,1,0,accounting,medium
334,0.10,0.81,6,290,4,0,1,0,accounting,medium
335,0.45,0.47,2,151,3,0,1,0,accounting,medium
336,0.77,0.87,5,266,5,0,1,0,accounting,medium
377,0.44,0.56,2,158,3,0,1,0,accounting,medium
378,0.31,0.56,4,238,2,0,1,0,accounting,medium
384,0.36,0.48,2,156,3,0,1,0,accounting,high
410,0.28,0.45,6,218,4,0,1,0,accounting,low
411,0.84,0.99,4,262,6,0,1,0,accounting,medium
412,0.45,0.53,2,138,3,0,1,0,accounting,medium
460,0.43,0.49,2,135,3,0,1,0,accounting,medium
486,0.38,0.49,2,135,3,0,1,0,accounting,low
487,0.19,1.00,4,192,4,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14545,0.10,0.81,6,290,4,0,1,0,accounting,medium
14546,0.45,0.47,2,151,3,0,1,0,accounting,medium
14547,0.77,0.87,5,266,5,0,1,0,accounting,medium
14588,0.44,0.56,2,158,3,0,1,0,accounting,medium
14589,0.31,0.56,4,238,2,0,1,0,accounting,medium
14595,0.36,0.48,2,156,3,0,1,0,accounting,high
14621,0.28,0.45,6,218,4,0,1,0,accounting,low
14622,0.84,0.99,4,262,6,0,1,0,accounting,medium
14623,0.45,0.53,2,138,3,0,1,0,accounting,medium
14671,0.43,0.49,2,135,3,0,1,0,accounting,medium
14697,0.38,0.49,2,135,3,0,1,0,accounting,low
14698,0.19,1.00,4,192,4,0,1,0,accounting,low
14699,0.10,0.83,7,276,4,0,1,0,accounting,low
14740,0.39,0.57,2,145,3,0,1,0,accounting,medium
14741,0.40,0.56,2,137,3,0,1,0,accounting,medium
14747,0.11,0.85,6,305,4,0,1,0,accounting,medium
14773,0.40,0.57,2,160,3,0,1,0,accounting,low
14774,0.10,0.77,7,291,4,0,1,0,accounting,low
14775,0.41,0.53,2,157,3,0,1,0,accounting,low
14823,0.37,0.47,2,138,3,1,1,0,accounting,medium
14849,0.84,0.83,4,227,5,0,1,0,accounting,low
14850,0.43,0.48,2,153,3,0,1,0,accounting,low
14851,0.37,0.52,2,128,3,0,1,0,accounting,low
14896,0.75,1.00,5,223,6,0,1,0,accounting,medium
14897,0.11,0.92,6,269,4,0,1,0,accounting,medium
14898,0.10,0.90,7,269,4,0,1,0,accounting,medium
14946,0.10,0.84,5,303,5,0,1,0,accounting,medium
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium

In [67]:
df_left[(df_left['sales']=='accounting') & (df_left['salary']=='high')]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
384,0.36,0.48,2,156,3,0,1,0,accounting,high
1632,0.42,0.50,2,128,3,0,1,0,accounting,high
1710,0.11,0.97,6,254,4,0,1,0,accounting,high
12384,0.36,0.48,2,156,3,0,1,0,accounting,high
14595,0.36,0.48,2,156,3,0,1,0,accounting,high

In [65]:
df_left[(df_left['sales']=='accounting')].groupby('salary').size().to_frame('Count')

        Count
salary
high        5
low        99
medium    100

In [72]:
df_StillWorking[df_StillWorking['sales']=='accounting']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
2012,0.48,0.94,5,255,6,0,0,0,accounting,medium
2013,0.73,0.62,3,218,3,0,0,0,accounting,medium
2014,0.59,0.87,3,268,4,0,0,0,accounting,medium
2062,0.72,0.94,4,240,4,0,0,0,accounting,low
2088,0.57,0.51,2,152,2,0,0,0,accounting,medium
2089,0.84,0.58,4,208,3,0,0,0,accounting,medium
2090,0.60,0.95,5,205,3,0,0,0,accounting,medium
2138,0.67,0.50,4,157,2,0,0,0,accounting,medium
2164,0.97,0.66,4,149,2,0,0,0,accounting,low
2165,0.90,0.92,3,152,3,0,0,0,accounting,low
2166,0.75,0.70,3,129,3,0,0,0,accounting,medium
2214,0.59,0.52,2,149,3,0,0,0,accounting,medium
2240,0.61,0.97,3,137,3,0,0,0,accounting,low
2241,0.96,1.00,5,162,3,0,0,0,accounting,low
2242,0.70,0.59,4,216,3,0,0,0,accounting,low
2290,0.81,0.82,4,167,2,0,0,0,accounting,medium
2316,0.60,0.98,3,262,2,0,0,0,accounting,low
2317,0.68,0.69,3,185,2,0,0,0,accounting,low
2318,0.55,0.84,3,237,3,0,0,0,accounting,low
2366,0.22,0.74,3,199,6,0,0,0,accounting,medium
2392,0.19,0.98,5,226,4,1,0,0,accounting,low
2393,0.33,0.40,4,212,2,1,0,0,accounting,low
2394,0.94,0.93,4,220,3,0,0,0,accounting,low
2442,0.92,0.69,3,192,3,0,0,0,accounting,medium
2468,0.91,0.76,5,152,3,0,0,0,accounting,low
2469,0.76,0.74,3,224,2,0,0,0,accounting,low
2470,0.62,0.72,5,180,3,0,0,0,accounting,low
2519,0.51,0.92,3,224,3,0,0,0,accounting,medium
2545,0.52,0.38,6,169,3,0,0,0,accounting,low
2546,0.18,0.67,5,285,5,0,0,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
13246,0.48,1.00,4,261,3,0,0,0,accounting,low
13247,0.30,0.58,2,189,4,1,0,0,accounting,low
13248,0.72,0.85,5,237,4,0,0,0,accounting,low
13312,0.16,0.61,6,269,2,0,0,0,accounting,high
13338,0.71,0.76,4,148,8,0,0,0,accounting,medium
13339,0.96,0.84,3,147,8,0,0,0,accounting,medium
13340,0.80,0.90,4,211,8,0,0,0,accounting,medium
13398,0.49,0.91,4,134,4,0,0,0,accounting,low
13424,0.93,0.95,5,176,6,0,0,1,accounting,medium
13425,0.50,1.00,5,264,8,0,0,1,accounting,high
13426,0.52,0.84,3,261,8,0,0,1,accounting,low
13488,0.57,0.70,4,237,6,0,0,0,accounting,low
13514,0.50,0.95,3,198,4,0,0,0,accounting,low
13515,0.57,0.90,5,145,3,0,0,0,accounting,low
13516,0.97,0.62,6,118,2,0,0,0,accounting,low
13611,0.15,0.75,3,150,4,0,0,1,accounting,medium
13640,0.78,0.57,4,157,3,0,0,0,accounting,low
13668,0.40,0.62,4,127,5,0,0,0,accounting,low
13697,0.68,0.99,3,159,2,0,0,0,accounting,medium
13792,0.57,0.93,2,204,10,0,0,0,accounting,low
13821,0.89,0.86,4,153,3,0,0,0,accounting,low
13849,0.91,0.61,4,135,10,0,0,0,accounting,medium
13878,0.62,0.82,3,204,10,0,0,0,accounting,medium
13973,0.81,0.90,4,270,10,0,0,0,accounting,medium
14002,0.98,0.91,3,188,4,0,0,0,accounting,medium
14030,0.61,0.61,4,246,2,0,0,0,accounting,low
14059,0.82,0.69,3,250,3,0,0,0,accounting,low
14154,0.85,0.72,3,245,10,0,0,0,accounting,medium
14182,0.85,0.89,4,150,3,0,0,0,accounting,high
14183,0.55,0.81,3,239,8,0,0,0,accounting,high

In [73]:
df_StillWorking[df_StillWorking['sales']=='accounting'].groupby('salary').size().to_frame('Count')

        Count
salary
high       69
low       259
medium    235

In [83]:
df_StillWorking[df_StillWorking['sales']=='accounting'].groupby('salary').agg(['mean','sum']) #.mean()#['satisfaction_level']

       satisfaction_level         last_evaluation         number_project       \
                     mean     sum            mean     sum           mean  sum
salary
high             0.635217   43.83        0.734928   50.71       3.985507  275
low              0.643282  166.61        0.726718  188.22       3.795367  983
medium           0.655064  153.94        0.722894  169.88       3.770213  886

       average_montly_hours        time_spend_company      Work_accident      \
                       mean    sum               mean  sum          mean sum
salary
high             208.507246  14387           3.217391  222      0.217391  15
low              198.857143  51504           3.320463  860      0.146718  38
medium           196.455319  46167           3.600000  846      0.144681  34

       left     promotion_last_5years
       mean sum                  mean sum
salary
high      0   0              0.086957   6
low       0   0              0.007722   2
medium    0   0              0.025532   6